<div class="container">
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2 disabled" aria-current="page">TODO</a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="signin" class="nav-link link-dark px-2" (click)="navigateToSignIn()">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="border-bottom"></div>
<div class="container text-center">
    <h1 class="display-5 pt-4">Zamanınızı daha etkili bir şekilde değerlendirin,
        Görevlerinizi daha hızlı tamamlayın!</h1>
</div>
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 25vh;">
        <div class="card mx-auto border-secondary" style="max-width: 40rem;">
            <div class="card-header">Todo Örnek</div>
            <div class="card-body text-secondary">
                <h5 class="card-title">Let's Start</h5>
                <div class="d-inline">
                    <p class="card-text">
                        Merhaba! Bu to-do uygulaması size günlük görevlerinizi düzenlemeniz için yardımcı olacak harika
                        bir araçtır. Hemen başlamak için kaydolun ve
                        yapılacaklar listelerinizi oluşturun. İşte size daha düzenli ve verimli bir yaşamın kapıları
                        aralıyoruz. Haydi, bu fırsatı kaçırmayın,
                        <b>kaydolun!</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>