<section class="vh-100 gradient-background">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow" style="border-radius: 1rem;">
          <div class="card-body p-5">
            <form [formGroup]="signinForm" (ngSubmit)="loginUser()">

              <h3 class="mb-5">Sign in</h3>

              <div class="form-outline mb-4">
                <input type="email" formControlName="mail" class="form-control form-control-lg" />
                <label class="form-label" for="email">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" formControlName="password" class="form-control form-control-lg" />
                <label class="form-label" for="password">Password</label>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 

  <div class="container">
    <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <div appearance="fill">
            <p>Enter your username</p>
            <input matInput formControlName="username">
        </div>
        <br>
        <div>
            <p>Enter your password</p>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
            </button>
        </div>
        <br>
        <button  type="submit" mat-raised-button color="primary">login</button>
    </form>
  </div> -->