<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">My Todo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Followed Todo</a>
                    </li>
                </ul>
                <div class="row mb-3 px-3" [formGroup]="sendRequestForm">
                    <label class="col-sm-1 col-form-label">Follow Mail</label>
                    <input type="text" class="col form-control" formControlName="sender">
                    <button class="col-sm-1 ms-3 btn btn-primary" (click)="sendRequest(sendRequestForm)">Follow</button>
                </div>

                <div class="card mb-5" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">

                        <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                            <i class="fas fa-check-square me-1"></i>
                            <b>Todossss...</b>
                        </p>

                        <div class="pb-2">
                            <div class="card">
                                <div class="card-body">
                                    <form class="d-flex flex-row align-items-center" [formGroup]="postTodoForm">
                                        <input type="text" class="form-control form-control-lg"
                                            id="exampleFormControlInput1" placeholder="Add new..."
                                            formControlName="title">
                                        <a href="#!" data-mdb-toggle="tooltip" title="Set due date"><i
                                                class="fas fa-calendar-alt fa-lg me-3"></i></a>
                                        <div>
                                            <button type="button" class="btn btn-primary"
                                                (click)="postNewTodo(postTodoForm)">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                            <p class="small mb-0 me-2 text-muted">Filter</p>
                            <select class="select" [(ngModel)]="selectedOption" (change)="test($event)">
                                <option value="1">All</option>
                                <option value="2">Completed</option>
                                <option value="3">Active</option>
                            </select>
                            <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                            <select class="select">
                                <option value="1">Added date</option>
                                <option value="2">Due date</option>
                            </select>
                            <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i
                                    class="fas fa-sort-amount-down-alt ms-2"></i></a>
                        </div>


                        <!-- eef -->
                        <div>
                            <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                                <li class="list-group-item  d-flex align-items-center flex-grow-1 border-0 bg-transparent"
                                    style="background-color: #f4f6f7;">
                                    <p class="lead fw-bold mb-0 text-nowrap text-success ">Job</p>
                                </li>


                                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent ">
                                    <p href="#!" class="lead fw-bold text-success" title="Created date">
                                        Created Date
                                    </p>
                                </li>

                                <li class="d-flex justify-content-center align-items-center"
                                    style="margin-right: 4rem;">

                                </li>

                            </ul>

                        </div>

                        <div class="row">
                            <div class="col-9">
                                <input [(ngModel)]="searchJobTerm" class="form-control" placeholder="Job Search...">
                            </div>
                            <div class="col-3">
                                <input [(ngModel)]="searchDateTerm" class="form-control" placeholder="Date Search...">
                            </div>

                        </div>






                        <div *ngFor="let todo of filteredTodos" [formGroup]="toggleTodoForm">
                            <ul class="list-group list-group-horizontal rounded-0 bg-transparent"
                                [formGroup]="toggleTodoForm">
                                <li class="list-group-item  d-flex align-items-center flex-grow-1 border-0 bg-transparent"
                                    style="background-color: #f4f6f7;">

                                    <input class="form-check-input me-2" type="checkbox" [checked]="todo.is_deleted"
                                        aria-label="..." (click)="toggleIsDeleted(todo)" />

                                    <ng-container *ngIf="todo.is_deleted; else notDeleted">
                                        <s class="lead fw-bold text-secondary" title="Job">{{todo.title}}</s>
                                    </ng-container>
                                    <ng-template #notDeleted>
                                        <p class="lead fw-bold text-secondary m-0 w-900px">{{todo.title}}</p>
                                    </ng-template>
                                </li>


                                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent ">
                                    <p href="#!" class="lead fw-bold text-secondary" title="Created date">
                                        {{todo.created_at| date: 'yyyy-MM-dd HH:mm' }}
                                    </p>
                                </li>

                                <li class="d-flex justify-content-center align-items-center">
                                    <ul class="p-0">
                                        <fa-icon [icon]="faTrash" class="iconMargin"
                                            (click)="deleteTodo(todo.pk)">delete</fa-icon>
                                    </ul>
                                    <ul class="p-0">
                                        <fa-icon [icon]="faPen" class="iconMargin"
                                            (click)="openEditModal(todo.pk)">edit</fa-icon>

                                    </ul>
                                </li>

                            </ul>

                            <hr class="m-0">
                        </div>

                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>