#list1 .form-control {
  border-color: transparent;
}

#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}

.iconMargin {
  margin-bottom: 15px;
  margin-left: 15px;
  color: rgb(183, 0, 0);
}

.mr-30{
  margin-right: 60px;
}

.w-900px{
  max-width: 900px;
}

@media screen and (max-width: 1400px) {
  .w-900px{
    max-width: 100px;
  }
}